<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-----------------Css---------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/estilos_productos.css">

<!----------------JavaScript---------------->

<!--Este script se puede guardar en una archivo js y
   enlazar a este archivo html y funcionara igual -->
    <script src="/static/search.js"></script>
    <title>Productos</title>
  </head>

  <body>
<!-----------------TODO EL CONTENIDO---------------->
    <div>
    
        <div class="container">
            <div style="height:50px"></div>
            <!-----------------TITULO---------------->
            <h1 align="center" class="h1"> {{producto}} {{joyeria}}</h1>

            <!-----------------Barr de busqueda---------------->
            <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscar...">

            <!-----------------Barra de desplasamiento---------------->
            <div class="barra_desplasamiento box-1">
                
                <table class="table table-bordered order-table">
                    <thead class="table-dark" style="position: sticky; top:0; z-index:1">
                      <tr><!---------Fila con los tirulos de la tabla----------->
                        
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Material</th>
                        <th scope="row">ver</th>
                      </tr>
                    </thead> 

                    
                    {% for producto in productos_lista %}
                    <tr>       
                      <td scope="row ">{{producto.codigo}}</td>
                      <td scope="row">{{producto.nombre}}</td>
                      <td scope="row">{{producto.material}}</td>
                      <td> <button type="button" class="ver">
                        <a href="{{url_for('vista_de_producto', joyeria=joyeria, id=producto.id, page_back=page_back)}}">
                          <img class="eliminar2" src="/static/Ver.png" alt="boton vista">     
                        </a>
                      </button>                     
                        </td>
                    </tr>
                    {% endfor %}
                  
                    
                    
                  </table>
                </div>
            
          </div> <!-- /container -->
      </div>
    <div class="mb-2">
        <a class="btn btn-primary" href="#" role="button">Estadisticas</a>  <!--este es el botton para las estadistricas-->
        {% if producto == 'Juegos de Joyeria' %}
          <a class="btn btn-primary" href="{{url_for('juegos_de_joyeria', joyeria=joyeria)}}" role="button">Añadir</a><!--este es el botton para añadir un nuevo producto-->
        {% elif producto == 'Collares' %}
          <a class="btn btn-primary" href="{{url_for('cadenas', joyeria=joyeria)}}" role="button">Añadir</a><!--este es el botton para añadir un nuevo producto-->
        {% else %}
        <a class="btn btn-primary" href="{{url_for(producto.lower(), joyeria=joyeria)}}" role="button">Añadir</a><!--este es el botton para añadir un nuevo producto-->
        {% endif %}
        <a class="btn btn-primary" href="{{url_for('Proveedores')}}" role="button">Volver atrás</a> 
        
</div>

  <!-- ----------------Java Script Bootstrap Lik--------------- -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>